name: codecov

on:
 push:
  branches:
    - master

jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org/
      - run: yarn
      - run: yarn bootstrap
      - run: yarn test
      - uses: codecov/codecov-action@v1
        with:
          flags: unittests # optional
          name: codecov-umbrella # optional
          # file: ./codecov.yml # optional
          token: ${{ secrets.CODECOV_TOKEN }}
          # fail_ci_if_error: true # optional (default = false)
